<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>DEMO SITE</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{/css/griddesign.css}" href="../static/css/griddesign.css">
  <link rel="stylesheet" th:href="@{/css/btn.css}" href="../static/css/btn.css">
  <link rel="stylesheet" th:href="@{/css/dropdownmenu.css}" href="../static/css/dropdownmenu.css">
  <link rel="stylesheet" th:href="@{/css/homebtn.css}" href="../static/css/homebtn.css">
  <style>
    div {
      margin-bottom: 10px;
    }
    label {
      display: inline-block;
      width: 150px;
    }
  </style>
</head>
<body>
<form action="/form/submit" id="userform">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" placeholder="Enter your name" />
  </div>
  <div>
    <label for="email">Your Age</label>
    <input type="email" id="email" name="email" placeholder="Enter your email" />
  </div>
  <div>
    <label>Enter Your Country</label>
  <textarea style="resize: none; height: 100px; width: 150px" name="comment" form="userform" placeholder="Enter your comment or question here....."></textarea>
  </div>
  <input type="submit" value="Submit" />
</form>
</body>
</html>