<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{griddesign.css}" href="../static/griddesign.css">
  <link rel="stylesheet" th:href="@{btn.css}" href="../static/btn.css">
  <link rel="stylesheet" th:href="@{dropdownmenu.css}" href="../static/dropdownmenu.css">
</head>
<body>
<div class="dropdown">
  <br>
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
    <a href="news" target="middle"> News</a>
    <a href="shop" target="middle">Shop</a>
    <a href="gallery" target="middle">Gallery</a>
    <a href="events" target="middle">Events</a>
    <a href="about" target="middle">About</a>
    <a href="contact" target="middle">Contact</a>
  </div>
</div>
</body>
</html>