<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>FAKTA</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{/css/griddesign.css}" href="../static/css/griddesign.css">
  <link rel="stylesheet" th:href="@{/css/btn.css}" href="../static/css/btn.css">
  <link rel="stylesheet" th:href="@{/css/dropdownmenu.css}" href="../static/css/dropdownmenu.css">
  <link rel="stylesheet" th:href="@{/css/homebtn.css}" href="../static/css/homebtn.css">
</head>
<body class="bg">
<div class="grid-container">
  <div class="leftheader">
    <iframe height="100%" width="100%" th:src="@{homebutton}" style="border: none;" title="iframehomebutton" scrolling="no"></iframe>
  </div>
  <div class="middleheader">
    <h1>Demo website</h1>
  </div>
  <div class="rightheader">
    <p>Right</p>
  </div>

  <div class="nav" >
    <iframe height="100%" width="100%" th:src="@{dropdownmenu}" style="border: none;" title="iframedropdown" scrolling="no"></iframe>
  </div>
  <div class="middlecolumn" >
    <img src="/images/madspild1.png" width="35%">
    <img src="/images/madspild2.png" width="35%">
    <img src="/images/madpsild3.png" width="35%">
    <img src="/images/madspild4.png" width="35%">
  </div>
  <div class="rightcolumn" >Column</div>

  <div class="footer">
    <p>Footer</p>
  </div>
</div>


</body>
</html>