<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DEMO SITE</title>
  <link rel="stylesheet" th:href="@{griddesign.css}" href="../static/griddesign.css">
  <link rel="stylesheet" th:href="@{btn.css}" href="../static/btn.css">
  <link rel="stylesheet" th:href="@{dropdownmenu.css}" href="../static/dropdownmenu.css">
  <link rel="stylesheet" th:href="@{homebtn.css}" href="../static/homebtn.css">
</head>
<body>
<a href="index" target="middle" >
  <div class="moveImg">
  <img class="top" src="/images/Logo_Danmark.png" style="width: 30%; height: auto"><br>
  <img class="bottom" src="/images/Logo_Mod_Madspild.png" style="width: 30%; height: auto">
 <!-- <button class="btn"> <i class="fa fa-home fa-3x"></i> </button>-->
</div>
</a>
</body>
</html>