<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEMO SITE</title>
    <link rel="stylesheet" th:href="@{/css/griddesign.css}" href="../static/css/griddesign.css">
    <link rel="stylesheet" th:href="@{/css/btn.css}" href="../static/css/btn.css">
    <link rel="stylesheet" th:href="@{/css/dropdownmenu.css}" href="../static/css/dropdownmenu.css">
    <link rel="stylesheet" th:href="@{/css/homebtn.css}" href="../static/css/homebtn.css">
    <style>
        .nav-container{
            width: 100%;
        }
        nav{
            max-width: 1720px;
            margin: 0 auto;

            display: grid;
            grid-template-columns: 1fr auto 1fr;
        }
        .left-menu{
            grid-column: 1;
        }

        .logo{
            grid-column: 2;
        }
    </style>


</head>
<body class="bg">

<div class="nav-container">
    <nav>
        <div class="left-menu">
            <a href="#">Shop</a>
            <a href="#">Blog</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
        <a href="#" class="logo">MAD SPILD</a>
    </nav>
</div>

    <div class="grid-container">
        <div class="leftheader">
           <!-- <iframe height="100%" width="100%" th:src="@{homebutton}" style="border: none;" title="iframehomebutton" scrolling="no"></iframe>-->
            <a href="index" target="middle" >
                <div class="moveImg">
                    <img class="top" src="/images/Logo_Danmark.png" style="width: 30%; height: auto"><br>
                    <img class="bottom" src="/images/Logo_Mod_Madspild.png" style="width: 30%; height: auto">
                </div>
            </a>
        </div>
        <div class="middleheader">
            <h1>Demo website</h1>
        </div>
        <div class="rightheader">
            <p>Right</p>
        </div>

        <div class="nav" >
            <iframe height="100%" width="100%" th:src="@{dropdownmenu}" style="border: none;" title="iframedropdown" scrolling="no"></iframe>
        </div>
        <div class="middlecolumn" >

        </div>
        <div class="rightcolumn" >Column</div>

        <div class="footer">
            <p>Footer</p>
        </div>
    </div>

</body>
</html>