<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEMO SITE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{griddesign.css}" href="../static/griddesign.css">
    <link rel="stylesheet" th:href="@{btn.css}" href="../static/btn.css">
    <link rel="stylesheet" th:href="@{dropdownmenu.css}" href="../static/dropdownmenu.css">
    <style>
        .nav-container{
            width: 100%;
        }
        nav{
            max-width: 1720px;
            margin: 0 auto;

            display: grid;
            grid-template-columns: 1fr auto 1fr;
        }
        .left-menu{
            grid-column: 1;
        }

        .logo{
            grid-column: 2;
        }
    </style>


</head>
<body class="bg">

<div class="nav-container">
    <nav>
        <div class="left-menu">
            <a href="#">Shop</a>
            <a href="#">Blog</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
        <a href="#" class="logo">MAD SPILD</a>
    </nav>
</div>

    <div class="grid-container">
        <div class="leftheader">
            <iframe height="100%" width="100%" th:src="@{homebutton}" style="border: none;" title="iframehomebutton" scrolling="no"></iframe>
        </div>
        <div class="middleheader">
            <h1>Demo website</h1>
        </div>
        <div class="rightheader">
            <p>Right</p>
        </div>

        <div class="leftcolumn" >
            <iframe height="100%" width="100%" th:src="@{dropdownmenu}" style="border: none;" title="iframedropdown" scrolling="no"></iframe>
        </div>
        <div class="middlecolumn" >
            <iframe th:src="@{indexcontent}" height="100%" width="100%" style="border: none" name="middle"></iframe>

        </div>
        <div class="rightcolumn" >Column</div>

        <div class="footer">
            <p>Footer</p>
        </div>
    </div>

</body>
</html>