<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>DEMO SITE</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{/css/griddesign.css}" href="../static/css/griddesign.css">
  <link rel="stylesheet" th:href="@{/css/btn.css}" href="../static/css/btn.css">
  <link rel="stylesheet" th:href="@{/css/dropdownmenu.css}" href="../static/css/dropdownmenu.css">
  <link rel="stylesheet" th:href="@{/css/homebtn.css}" href="../static/css/homebtn.css">
</head>
<body>
<h1>TEST SHOP</h1>

</body>
</html>